.content-container {
    padding: 20px;
    background-color: #eee;
    margin-top: 20px !important;
}

@media (max-width: 576px) {
    .content-container {
        margin-top: 0 !important;
    }
}

.btn {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.btn-secondary {
    background-color: darkkhaki !important;
}

.btn-primary {
    background-color: darkolivegreen !important;
}

#transactionValueInput, #transactionValueInput:focus {
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    text-align: right !important;
}

#incomeInput, #incomeInput:focus {
    /*border: none !important;*/
    border: none !important;
    border-bottom: dotted 3px gray !important;
    padding: 16px 0 !important;
    margin: 0 0.3em !important;
    outline: none !important;
    border-radius: 0 !important;
    text-align: right !important;
}

.input-group {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.form-control {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.form-select {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.transaction-income {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 255, 0, 0.3) 0 3px 3px -1px;
}

.transaction-expense {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(255, 0, 0, 0.3) 0 3px 3px -1px;
}
